<%= form_with(model: ad) do |form| %>
  <% if ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
        <% ad.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :city %>
    <%= form.select :city, Ad::CITIES %>
  </div>

  <div class="field">
    <%= form.label :mileage %>
    <%= form.number_field :mileage %>
  </div>

  <div class="field">
    <%= form.label :car_make %>
    <%= form.select :car_make, Ad::MAKE %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :engine_type %>
    <%= form.select :engine_type, Ad::ENGINE  %>
  </div>

  <div class="field">
    <%= form.label :transmission %>
    <%= form.select :transmission, Ad::TRANSMISSION %>
  </div>

  <div class="field">
    <%= form.label :engine_capacity %>
    <%= form.number_field :engine_capacity %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.select :color, Ad::COLOR, include_blank: true %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :assembly_type %>
    <%= form.select :assembly_type, Ad::ASSEMBLY %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
