<p id="notice"><%= notice %></p>

<%= form_with(url: ads_path, method: :get) do |f|%>
  <div class="d-flex ">
  <div class="field">
    <%= f.label :city %>
    <%= f.select :city, Ad::CITIES, include_blank: true  %>
  </div>

  <div class="style-me">
    <%= f.label :color %>
    <%= f.select :color, Ad::COLOR, include_blank: true  %>
  </div>

  <div class="field">
    <%= f.label :mileage %>
    <%= f.number_field :mileage, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :car_make %>
    <%= f.select :car_make, Ad::MAKE, include_blank: true  %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price, include_blank: true  %>
  </div>

  <div class="field">
    <%= f.label :engine_type %>
    <%= f.select :engine_type, Ad::ENGINE, include_blank: true   %>
  </div>

  <div class="field">
    <%= f.label :transmission %>
    <%= f.select :transmission, Ad::TRANSMISSION, include_blank: true  %>
  </div>

  <div class="field">
    <%= f.label :engine_capacity %>
    <%= f.number_field :engine_capacity, include_blank: true  %>
  </div>

  <div class="field">
    <%= f.label :assembly_type %>
    <%= f.select :assembly_type, Ad::ASSEMBLY, include_blank: true  %>
  </div>
    <div class="style-me"><%#= f.text_field :search, class:"form-control rounded" %></div>
    <div><%= f.submit "Search", name:nil, class: "btn btn-outline-primary"%></div>
  </div>
<% end %>

<h1>Ads</h1>

<div>
  <table>
    <thead>
      <tr>
        <th>City</th>
        <th>Mileage</th>
        <th>Car make</th>
        <th>Price</th>
        <th>Engine type</th>
        <th>Transmission</th>
        <th>Engine capacity</th>
        <th>Color</th>
        <th>Assembly type</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @ads.each do |ad| %>
        <tr>
          <td><%= ad.city %></td>
          <td><%= ad.mileage %></td>
          <td><%= ad.car_make %></td>
          <td><%= ad.price %></td>
          <td><%= ad.engine_type %></td>
          <td><%= ad.transmission %></td>
          <td><%= ad.engine_capacity %></td>
          <td><%= ad.color %></td>
          <td><%= ad.assembly_type %></td>
          <td><%= ad.description %></td>
          <td><%= link_to 'Show', ad %></td>
          <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
          <td><%= link_to 'Destroy', ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<%= link_to 'New Ad', new_ad_path %>
