<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @ad.city %>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @ad.mileage %>
</p>

<p>
  <strong>Car make:</strong>
  <%= @ad.car_make %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ad.price %>
</p>

<p>
  <strong>Engine type:</strong>
  <%= @ad.engine_type %>
</p>

<p>
  <strong>Transmission:</strong>
  <%= @ad.transmission %>
</p>

<p>
  <strong>Engine capacity:</strong>
  <%= @ad.engine_capacity %>
</p>

<p>
  <strong>Color:</strong>
  <%= @ad.color %>
</p>

<p>
  <strong>Assembly type:</strong>
  <%= @ad.assembly_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ad.description %>
</p>

<div style= 'width: 400px'>
  <strong>IMAGE:</strong>
  <%= link_to image_tag(@ad.image, style: 'width: 100%'), ads_path %>
  
</div>

<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
