<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="text-center mt-4">
    <h2>Display Ad</h2>
  </div>
    <div class="card mt-4">
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <p>
              <strong>City:</strong>
              <%= @ad.city %>
            </p>

            <p>
              <strong>Mileage:</strong>
              <%= @ad.mileage %>
            </p>

            <p>
              <strong>Car make:</strong>
              <%= @ad.car_make %>
            </p>

            <p>
              <strong>Price:</strong>
              <%= @ad.price %>
            </p>

            <p>
              <strong>Description:</strong>
              <%= @ad.description %>
            </p>

          </div>

          <div class="col-4">
            <p>
              <strong>Engine type:</strong>
              <%= @ad.engine_type %>
            </p>

            <p>
              <strong>Transmission:</strong>
              <%= @ad.transmission %>
            </p>

            <p>
              <strong>Engine capacity:</strong>
              <%= @ad.engine_capacity %>
            </p>

            <p>
              <strong>Color:</strong>
              <%= @ad.color %>
            </p>

            <p>
              <strong>Assembly type:</strong>
              <%= @ad.assembly_type %>
            </p>

            <p>
              <strong>Featured:</strong>
              <%= @ad.featured %>
            </p>

            <p>
              <strong>Status:</strong>
              <%= @ad.status %>
            </p>
          </div>

          <div class="col-4">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <% @ad.images.each_with_index do |image, index| %>
                  <div class="carousel-item <%= 'active' if index.zero? %>">
                    <%= link_to image_tag(image, class: 'd-block w-100'), ads_path %>
                  </div>
                <% end %>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
        <% if user_signed_in? %>
          <% if (current_user.ads.exists?(@ad.id)) %>
            <%= link_to 'Edit', edit_ad_path(@ad), class:"btn btn-light" %>
          <% end %>
        <% end %>
      <%= link_to 'Back', ads_path, class:"btn btn-light" %>
  </div>
</div>
<div class="container-fluid">
  <div class="text-center mt-4">
    <div class="card mt-4">
      <div class="card-body">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          See Phone Number
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Phone Number</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <% if user_signed_in? %>
                  <p>
                    <strong>Primary Contact:</strong>
                    <%= @ad.user.phone %>
                  </p>
                  <% if @ad.secondary_contact.present? %>
                    <p>
                      <strong>Secondary Contact:</strong>
                      <%= @ad.secondary_contact %>
                    </p>
                  <% end %>
                <% end %>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send Message</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
