<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "CarSell" %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-image: linear-gradient(to right, #D500F9, #FFD54F)">
    <header>
      <%= render 'layouts/header' %>
    </header>
    <div style="padding: 30px">
      <div class="card", style="padding: 10px; border-radius: 10px;">
        <main role="main">
          <%= content_for?(:content) ? yield(:content) : yield %>
        </main>
      </div>
    </div>


  </body>
</html>
