<!DOCTYPE html>
<html lang='.'>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "CarSell" %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :stripe_js %>

  </head>

  <body class='bg_style'>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <%= render 'devise/shared/flash_messages' %>
    <div class='main-body-padding-30'>
      <div class="card main-body-card">
        <main role="main">
          <%= content_for?(:content) ? yield(:content) : yield %>
        </main>
      </div>
    </div>
  </body>
</html>
